.icono{
    width: 32px;
    height: 32px;
    }

footer {
    width: auto;
    height:auto;
    margin-top: 10px;
    display: flex;
    max-width: 100%;
    text-align: center;
    align-items: center;
        a{
        text-decoration: none;
         }
    }

.logo{
    display:block;
    margin: auto;
    max-width: 100%;
    
    
}