.responsive{
    height: auto;
    width: 40%;
    padding: 5px;
    object-fit: contain;
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-foreground {
    width: 100%;
    height: 100%;
  }
  
  .video-foreground iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  